/* General */
/* Top bar menu */

.top-bar {
    padding: 10px 0;
    position: relative;
    z-index: 23;
    border-bottom: transparent solid 1px;
}
.top-bar .user-account-btn {
    display: none;
}
.top-bar .user-account-btn > a > img {
    border-radius: 3px;
    height: 30px;
    float: left;
}
.top-bar .user-account-btn > a {
    height: 30px;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    float: left;
}
.top-bar .user-account-btn > a .glyph-icon,
.top-bar .user-account-btn > a span {
    float: left;
}
.top-bar .btn-top .glyph-icon {
    opacity: 0.5;
    margin-right: 5px;
}


.top-bar .user-account-btn > a span {
    padding: 0 5px 0 10px;
}
.top-bar .user-account-btn .dropdown-menu.float-right {
    right: -9px;
    top: 110%;
}
/* Header */

.main-header {
    position: relative;
    z-index: 20;
}
.main-header .container {
    position: relative;
}
.main-header .header-logo {
    float: left;
    margin: 19px 0 18px;
    background: url('../../image-resources/admin_logo.png') left 50% no-repeat;
    width: 35px;
    height: 34px;
}
.main-header.font-inverse .header-logo {
    background: url('../../image-resources/logo-alt.png') left 50% no-repeat;
}
.main-header .header-logo span {
    opacity: 0.7;
    -moz-opacity: .70;
    filter: alpha(opacity: 70);
    display: block;
}
/* Header right buttons */

.right-header-btn {
    float: right;
    margin-left: 15px;
    margin-top: 15px;
}

.right-header-btn .search-btn {
    border-left: rgba(0,0,0,0.08) solid 1px;
    padding: 5px 0 5px 17px;
    display: none;
}

.right-header-btn .search-btn a {
    height: 32px;
    line-height: 32px;
    width: 32px;
    display: block;
    text-align: center;
}
/* Mobile navigation */

#mobile-navigation {
    margin-top: 3px;
}

/* Mobile nav menu */

@media only screen and (max-width: 56.25em) {

    body .main-header .header-nav {
        border-width: 1px;
        border-style: solid;
        margin: 0 0 20px;
        padding: 0;
        border-radius: 4px;
    }
    body .main-header .header-nav,
    body .main-header .header-nav li,
    body .main-header .header-nav li a {
        float: none;
        clear: both;
    }
    body .main-header .header-nav > li > a {
        height: 32px;
        line-height: 32px;
    }
    body .main-header .header-nav > li > a > .glyph-icon {
        float: right;
    }
    body .main-header .header-nav > li > ul {
        position: relative;
        margin: 10px !important;
        border-radius: 4px;
        display: none;
        transform: translateY(-55px) !important;
    }
    body .main-header .header-nav li.sfHover > ul:before {
        display: none;
    }
    body .main-header .header-nav > li.sfHover > ul {
        display: block;
    }
    body .main-header .header-nav > li > ul.sf-mega-menu {
        padding: 10px 0 !important;
        width: auto;
        margin-top: 0 !important;
        transform: translateY(-65px) !important;
    }
    body .main-header .header-nav .header {
        border-radius: 50px;
        padding: 3px 10px !important;
        margin: 10px 15px !important;
        display: inline-block;
    }
    body .main-header .header-nav .divider {
        background: rgba(0, 0, 0, 0.1);
    }
    body .main-header .header-nav > li > ul.sf-mega-menu li {
        clear: none;
    }

}
/* Header nav menu */

.main-header .header-nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header .header-nav li,
.main-header .header-nav li a {
    display: block;
    list-style: none;
    float: left;
    position: relative;
}
.main-header .header-nav > li > a {
    padding: 0 5px;
    margin: 0 10px;
    height: 78px;
    line-height: 78px;
    text-transform: uppercase;
    font-size: 13px;
}
.main-header .header-nav > li > a > .glyph-icon {
    margin-left: 5px;
}

.main-header .header-nav > li > a::before {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -7px;
    color: rgba(0, 0, 0, 0);
    content: '•';
    text-shadow: 0 0 rgba(0, 0, 0, 0);
    font-size: 15px;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.main-header .header-nav > li > a:hover::before,
.main-header .header-nav > li.sfHover > a::before,
.main-header .header-nav > li a:hover::before,
.main-header .header-nav > li a:focus::before {
    color: #C5CDD2;
    text-shadow: 5px 0 #C5CDD2, -5px 0 #C5CDD2, -10px 0 #C5CDD2, 10px 0 #C5CDD2;
}

.main-header .header-nav li a.sf-with-ul:after {
    margin-left: 4px;
    -moz-opacity:0.65;
    filter:alpha(opacity:65);
    opacity:0.65;
}

.main-header .header-nav > li > ul:before {
    position: absolute;
    top: -6px;
    left: 15px;
    display: inline-block;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid #253035;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-bottom-color: #253035;
    content: '';
    display: none;
}

.main-header .header-nav li.sfHover > ul:before {
    display: block;
}


/* Header subnav menu */

.main-header .header-nav > li > ul {
    position: absolute;
    list-style: none;
    margin: 20px 0 0;
    padding: 10px;
    min-width: 230px;
    top: 58px;
    left: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 50ms ease 50ms, -webkit-transform 350ms ease 50ms;
    -moz-transition: opacity 50ms ease 50ms, -moz-transform 350ms ease 50ms;
    transition: opacity 50ms ease 50ms, transform 350ms ease 50ms;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);

}
.main-header .header-nav > li.sfHover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.main-header .header-nav > li > ul > li {
    float: none;
}
.main-header .header-nav > li > ul li a {
    padding: 10px 20px;
    font-size: 14px;
    float: none;
    display: block;
    border-radius: 2px;
}
.main-header .header-nav > li > ul li .owl-item a {
    padding: 0;
}
.main-header .header-nav > li > ul li .owl-item a img {
    border-radius: 3px;
}
.main-header .header-nav .header {
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    padding: 0 20px 5px;
    margin-top: 15px;
}
.main-header .header-nav .divider {
    background: rgba(255,255,255,0.1);
}

.main-header .header-nav .owl-pagination {
    display: none;
}
.header-opacity {
    background-color: rgba(255,255,255,0.1);
}
.header-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

/* Header mega menu */
.sf-mega {
    position: static !important;
}
.sf-mega .sf-mega-menu {
    width: 100%;
    margin: 0 !important;
    top: 78px !important;
    padding: 25px 20px !important;
}
.sf-mega .sf-mega-menu:before {
    display: none !important;
}
.sf-mega .sf-mega-menu > li > a {
    padding: 8px 15px !important;
}
.sf-mega .sf-mega-menu .header {
    margin: 0;
    padding: 0 15px 15px;
}
.main-header .header-nav li.sf-mega ul.sf-mega-menu li {
    float: left;
}

/* Main content */

#page-content {
    padding: 20px;
}

/* Main titles */

.p-title {
    margin: 35px 0;
    padding: 35px 0;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 30px;
    font-weight: 300;
}
.p-title span {
    padding: 0 20px;
    background: #fff;
    position: relative;
    z-index: 5;
}
.p-title:before {
    background: #dce4e8;
    height: 1px;
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    overflow: hidden;
    width: 100%;
    opacity: .80;
    z-index: 3;
}
.p-title.title-alt {
    margin: 15px 0;
    font-size: 24px;
    padding: 15px 0;
}
.p-title.title-alt span {
    padding: 0 10px;
    margin-left: 20px;
}

/* Boxed layout */

.boxed-layout {
    background-color: #fdfdfd;
}
.boxed-layout  #page-wrapper {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}
.boxed-layout .main-footer,
.boxed-layout .main-header,
.boxed-layout .top-bar {
    padding-left: 25px;
    padding-right: 25px;
}

/* Frontend components */

#page-content.frontend-components .col-md-10 #page-title {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: #dfe8f1 solid 1px;
}
#page-content.frontend-components .col-md-10 #page-title p {
    opacity: 0.75;
}
body #theme-options.admin-options {
    display: none !important;
}

/* Body alternate */

.body-alt {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 300;
}
.body-alt .tabs-nav li a,
.body-alt .main-header .header-nav > li > a,
.body-alt .hero-heading,
.body-alt .hero-text,
.body-alt h1,
.body-alt h2,
.body-alt h3,
.body-alt h4,
.body-alt h5,
.body-alt h6,
.body-alt .main-header .header-nav > li > a,
.body-alt .hero-heading,
.body-alt .hero-text {
    font-family: 'Droid Sans', sans-serif;
    text-transform: initial;
}

.body-alt .main-header .header-nav > li > a {
    font-size: 15px;
    font-weight: bold;
}

.scroller-icon {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 60px;
    border: rgba(255,255,255,0.1) solid 1px;
    border-radius: 50px;
}
.scroller-icon .glyph-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 34px;
    animation: 3.4s ease-in-out infinite fadebottom;
    -webkit-animation: 3.4s ease-in-out infinite fadebottom;
}